<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/classes/class/{{classId}}"></ion-back-button>
    </ion-buttons>
    <ion-title>Student List</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item *ngFor="let i of students">
      <ion-card style="width: 100%">
        <ion-card-header>
          <ion-card-subtitle>
            <ion-label>
              Roll No.: {{i.roll}}
            </ion-label>
          </ion-card-subtitle>
          <ion-card-title>
            <ion-label>
              {{i.name}}
            </ion-label>
          </ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <ion-label>
            Gender: {{i.gender}}
          </ion-label>
        </ion-card-content>
      </ion-card>
    </ion-item>
  </ion-list>
</ion-content>