<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Classes</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item routerLink="/classes/class/1" routerDirection="forward">
      <ion-icon slot="start" ios="book-outline" md="book-sharp"></ion-icon>
      <ion-label>Class 1</ion-label>
    </ion-item>
    <ion-item routerLink="/classes/class/2" routerDirection="forward">
      <ion-icon slot="start" ios="book-outline" md="book-sharp"></ion-icon>
      <ion-label>Class 2</ion-label>
    </ion-item>
    <ion-item routerLink="/classes/class/3" routerDirection="forward">
      <ion-icon slot="start" ios="book-outline" md="book-sharp"></ion-icon>
      <ion-label>Class 3</ion-label>
    </ion-item>
    <ion-item routerLink="/classes/class/4" routerDirection="forward">
      <ion-icon slot="start" ios="book-outline" md="book-sharp"></ion-icon>
      <ion-label>Class 4</ion-label>
    </ion-item>
    <ion-item routerLink="/classes/class/5" routerDirection="forward">
      <ion-icon slot="start" ios="book-outline" md="book-sharp"></ion-icon>
      <ion-label>Class 5</ion-label>
    </ion-item>
    <ion-item routerLink="/classes/class/6" routerDirection="forward">
      <ion-icon slot="start" ios="book-outline" md="book-sharp"></ion-icon>
      <ion-label>Class 6</ion-label>
    </ion-item>
    <ion-item routerLink="/classes/class/7" routerDirection="forward">
      <ion-icon slot="start" ios="book-outline" md="book-sharp"></ion-icon>
      <ion-label>Class 7</ion-label>
    </ion-item>
  </ion-list>
</ion-content>